.container.example__container {
  // width: 1200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  .portfolio__list.example__list {
    @media screen and (min-width: 480px) {
      display: block;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * 30px);
      margin-bottom: calc(-1 * 30px);
      // margin-left: calc(-1 * 30px);
      // margin-bottom: calc(-1 * 30px);
    }

    // @media screen and (min-width: 1200px) {
    //   // display: flex;
    //   // flex-wrap: wrap;
    //   margin-left: calc(-1 * 30px);
    //   margin-bottom: calc(-1 * 30px);
    //   //   display: flex;
    //   //   flex-wrap: wrap;
    //   //   margin-left: calc(-1 * 30px);
    //   //   margin-bottom: calc(-1 * 30px);
    //   // }
    // }
  }
  .portfolio__item.example__item {
    @media screen and (min-width: 480px) {
      // width: 450px;
      // height: 404px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-left: 30px;
      margin-bottom: 30px;

      // flex-basis: 50%;

      // width: 354px;
      // height: 440px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 3 * 30px) / 3);

      // width: 370px;
      // height: 404px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
}

// mobile
// tablet  (min-width: 480px)
// desktop  (min-width: 768px max-width: 1200px)
