.header {
  // position: relative;
  border-bottom: 1px solid $header-border-color;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

// кнопка отрытия меню

// .header__container {
//   @media screen and (min-width: 768px) {
//     // display: flex;
//     // justify-content: space-between;
//     align-items: center;
//   }
// }

// .header__nav {
//   display: flex;
//   align-items: center;
// }
