$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$header-border-color: #ececec;
$icon-color: #afb1b8;
$contacts-text-color: rgba(255, 255, 255, 0.6);
$gradient-color: rgba(47, 48, 58, 0.4);
$hero-bg-color: #c4c4c4;
$box_bg-color: rgba(47, 48, 58, 0.8);
$secondary-accent-color: #188ce8;
$social-footer-bg-color: rgba(255, 255, 255, 0.1);
$modal-comments-color: rgba(117, 117, 117, 0.5);

$primary-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$image-set-gap: 30px; //отступ между изображениями

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
